.container {
  display: grid;
  align-content: center;
  max-width: 750px;
  padding: 20px 0 10px 0;
}

.container > :only-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
